/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
:root {
  --projectUnderline: none;
}

.listItem::before {
  content: ' ';
  width: 90vw;
  align-self: center;
  height: 0.5px;
  background-color: var(--col1_6);
  margin-bottom: 10px;
  position: absolute;
  top: -20px;
}

.listItem {
  position: relative;
  transition: all 250ms ease-in-out;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-radius: 5px;
}

.listItem:hover {
  background-color: var(--col1_8);
  --projectUnderline: underline var(--col2_3);
}

.listItem:active {
  background-color: var(--col1_7);
}

.listItemVertical {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0 30px 0;
  padding-left: 10px;
}

.listItemTitle {
  color: var(--col1_1);
  font-weight: 600;
  font-size: 26px;
  text-decoration: var(--projectUnderline);
}

.listItemSubtitle {
  color: var(--col1_4);
  font-weight: 500;
  font-size: 16px;
  flex-wrap: wrap;
}

.listItemGenre {
  color: var(--col2_2);
  font-weight: 500;
  font-size: 14px;
}

.listItemDate {
  color: var(--col2_2);
  font-weight: 500;
  font-size: 14px;
  margin: 30px 30px 0 auto;
}

.listItemImg {
  height: 200px;
  width: 100%;
  border: 0.5px solid var(--col1_6);
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 10px;
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .listItem {
    flex-direction: row;
    height: 200px;
  }

  .listItem::before {
    content: none;
  }

  .listItemImg {
    width: 300px;
    margin: 0 30px 0 0;
  }

  .listItemVertical {
    margin: 30px 0 10px 0;
    width: 300px;
  }
}
