/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

/* list */
.listItem {
  transition: all 250ms ease-in-out;
  border: 0.5px solid var(--col1_6);
  border-radius: 5px;
  height: 200px;
  display: block;
  overflow: hidden;
  position: relative;
}

.listItem:hover {
  background-color: var(--col1_8);
}

.listItem:active {
  background-color: var(--col1_7);
}

.listItemVertical {
  position: absolute;
  bottom: 0;
  background-color: var(--col1_9);
  width: 100%;
  padding: 10px 10px;
}

.listItemTitle {
  color: var(--col1_1);
  font-weight: 500;
  font-size: 14px;
}

.listItemSubtitle {
  color: var(--col1_4);
  font-weight: 500;
  font-size: 14px;
}

.listItemImg {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.listItemDate {
  
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {

  /* list */
  .listItemBox {
    margin-bottom: 150px;
  }

  .listItemVertical {
    padding-left: 1.6vw;
  }

  .listItemDate {
    margin: 0 10px 0 auto;
  }

  /* grid */

}
