/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.div {
  padding: 35px 5.5vw;
  min-height: calc(100vh - 65px - 250px);
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {
  .div {
    padding: 70px 10vw;
  }
}