/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.home {
  min-height: calc(100vh - 65px - 250px);
}

.landingText {
  font-family: 'Oxanium', cursive;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  animation-name: landingText;
  animation-duration: 1s;
}

.landingSection {
  margin-top: 20vh;
  height: 80vh;
}

@keyframes landingText {
  from {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.introSection {
  height: 100vh;
  background-color: black;
}

.introSection {
  color: rgb(var(--col1_9));
  padding: 50px 20px;
}

.name {
  color: rgb(var(--col2_3));
  font-weight: 600;
  background-color: rgb(var(--col1_9));
  border-radius: 5px;
  padding: 0 5px;
  margin: 0 5px;
}

.links {
  padding: 0 20px;
  margin: 20px 0;
  background-color: rgb(var(--col2_3));
  border-radius: 20px;
  height: 45px;
  display: grid;
  place-items: center;
}

.link {
  color: rgb(var(--col1_9));
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .links {
    width: 200px;
  }
}
