/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.home {
  min-height: calc(100vh - 65px - 250px);
}

.section1 {
  height: 300vh;
  position: relative;
  overflow-x: hidden;
}

.text {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
  width: max-content;
  text-align: center;
  margin-left: 10px;
}

.text3 {
  top: 0;
}

.text2 {
  top: 50px;
}

.text1 {
  top: 100px;
}

.text0 {
  top: 150px;
}

.highlight {
  color: var(--col2_1);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--col2_1);
}

/* intro section */

.introS {
  height: 350px;
  position: absolute;
  bottom: 0;
  color: var(--col2_1);
  padding: 50px 20px;
}

.links a {
  transition: all 250ms ease-in-out;
  padding: 15px;
  margin: 15px;
  margin-left: 0;
  background-color: var(--col1_1);
  border-radius: 5px;
  display: inline-block;
  color: var(--col1_9);
}

.links a:hover {
  background-color: var(--col2_2);
}

.name {
  color: var(--col2_3);
  font-weight: 700;
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {

}
