/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

.bar {
  height: 65px;
  background: var(--grad_1);
  margin-bottom: 20px;
}

.icon {
  position: absolute;
  left: 0;
  height: 37px;
  width: 37px;
  margin: 14px 18px;
}

/* Ham */
.hamarea {
  height: 65px;
  width: 70px;
  float: right;
}

.ham {
  position: relative;
  display: flex;
  align-items: center;
  margin: 31.5px 20px; /* (65-2)/2 = 31.5 */
  right: 0;
}

.ham,
.ham::before,
.ham::after {
  position: absolute;
  display: block;
  background-color: var(--col2_1);
  height: 2px;
  width: 2em;
  transition: transform ease-in-out 250ms;
}

.ham::before,
.ham::after {
  content: " ";
}

.ham::before {
  bottom: 9px;
}

.ham::after {
  top: 9px;
}

/* Cross */
.ham.cross {
  transform: rotate(-135deg);
}

.ham.cross::before {
  bottom: 0;
  transform: rotate(90deg);
}

.ham.cross::after {
  top: 0;
  transform: rotate(90deg);
}

/* Links */
.anchor {
  cursor: pointer;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--col2_1);
  display: block;
  width: 100%;
}

.linklist {
  list-style: none;
}

.link {
  margin: 0 0 30px 20px;
  position: relative;
}

.link::after {
  content: ' ';
  position: absolute;
  height: 2px;
  width: 50vw;
  top: 150%;
  left: 0;
  background-color: var(--col1_1);
  opacity: 0.1;
}

.nav {
  position: absolute;
  text-align: left;
  left: -100%;
  width: 100%;
  transform: scale(1, 0.5);
  transform-origin: top;
  opacity: 0;
  transition: all 200ms ease-in-out;
}

.nav.open {
  left: 0;
  opacity: 1;
  transform: scale(1, 1);
}

.frontarrow {
  position: absolute;
  left: 45vw;
  top: 50%;
  transform: translateY(-60%);
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-left: 7px solid var(--col1_2);
  border-right: 7px solid transparent;
  pointer-events: none;
}

.backarrow {
  position: absolute;
  left: 43vw;
  top: 50%;
  transform: translateY(-60%);
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent; 
  border-right: 7px solid var(--col1_2);
  border-left: 7px solid transparent;
  pointer-events: none;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {
  .icon {
    margin: 14px 40px;
  }

  .ham {
    display: none;
  }

  .hamarea {
    display: none;
  }

  .linklist {
    height: 45px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .link {
    margin: 10px 20px;
  }

  .anchor:hover {
    color: var(--col2_2);
  }

  .link::after {
    top: 2em;
    height: 3px;
    width: 100%;
    background-color: var(--col_2_1);
    opacity: 1;
    transform: scale(0, 1.5);
    transition: all 200ms ease-in-out;
    transform-origin: left;
  }

  .link:hover::after {
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--col1_2);
    transform: scale(1, 1);
  }

  .nav {
    top: 0;
    left: 0;
    opacity: 1;
    transform: scale(1, 1);
  }

  .frontarrow {
    display: none;
  }
  
  .backarrow {
    display: none;
  }
}