/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

.pageOpen {
  margin: 0 10px;
  padding: 10px 15px;
  border: 1px rgb(var(--col1_6)) solid;
  border-radius: 5px;
  flex: 1;
  font-size: 16px;
  color: rgb(var(--col1_1));
  transition: all 250ms ease-in-out;
  position: relative;

  margin-bottom: 30px;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) {

  /* search */
  .pageOpen {
    width: 80vw;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
