/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

.pageOpen {
  margin: 0 10px;
  padding: 10px 15px;
  border: 0.5px var(--col1_6) solid;
  border-radius: 5px;
  flex: 1;
  font-size: 16px;
  color: var(--col1_1);
  transition: all 250ms ease-in-out;
  position: relative;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 768px) {

  /* search */
  .pageOpen {
    width: 80vw;
    margin: 10px 0;
  }
}
