/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.flex {
  display: flex;
  justify-content: stretch;
  margin: 10px 0 -11px 0;
  padding-left: 10px;
  transition: all 250ms ease-in-out;
  flex-wrap: wrap-reverse;
}

.box {
  padding: 10px 15px;
  margin-left: -1px;
  background-color: rgb(var(--col1_9));
  border: 1px rgb(var(--col1_6)) solid;
  border-bottom: none;
  font-size: 16px;
  color: rgb(var(--col1_3));
  height: 40px;
  transition: background-color 250ms ease-in-out;
}

.box:global(.active) {
  color: rgb(var(--col2_1));
  border-color: rgb(var(--col2_1));
  z-index: 0;
}

.box:hover {
  background-color: rgb(var(--col1_8));
}

.box:nth-child(1) {
  border-top-left-radius: 5px;
}

.box:nth-last-child(1) {
  border-top-right-radius: 5px;
}

/* search */
.searchBar {
  margin: 10px 5px 10px 10px;
  padding: 10px 15px;
  border: 1px rgb(var(--col1_6)) solid;
  border-radius: 5px;
  flex: 1;
  font-size: 16px;
  color: rgb(var(--col1_1));
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 3; /* for TabSelector */
}

.searchBar:hover {
  background-color: rgb(var(--col1_8));
}

.searchBar:focus {
  color: rgb(var(--col2_1));
  border: 1px rgb(var(--col2_1)) solid;
}

.searchBar::placeholder {
  transition: all 250ms ease-in-out;
  opacity: 0.6;
}

.searchBar:focus::placeholder {
  color: rgb(var(--col2_1));
}

.searchBox {
  display: flex;
}

.icon {
  transition: all 200ms ease-in-out;
  color: rgb(var(--col1_3));
  width: 30px;
  font-size: 20px;
  line-height: 40px;
  margin: 10px 3px;
  border: 1px transparent solid;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.icon:hover {
  background-color: rgb(var(--col1_8));
}

.icon:active {
  background-color: rgb(var(--col1_7));
}

.dropdownBox {
  position: relative;
}

.dropdownBar {
  transition: all 250ms ease-in-out;
  border: 1px rgb(var(--col1_6)) solid;
  width: 90vw;
  margin: 0 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(var(--col1_1));
  text-transform: capitalize;
}

.dropdownTab {
  transition: all 250ms ease-in-out;
  border: 1px rgb(var(--col1_6)) solid;
  width: 90vw;
  margin: 0 10px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(var(--col1_1));
}

.dropdownTab.open {
  height: 197px;
  opacity: 1;
}

.dropdownTab.close {
  height: 10px;
  opacity: 0;
}

.dropdownTab.open .dropdownElement {
  transition: all 200ms ease-in-out;
  padding: 10px 15px;
  display: block;
  color: rgb(var(--col1_3));
}

.dropdownTab.open .dropdownElement + .dropdownElement {
  /* excludes first element*/
  border-top: 1px rgb(var(--col1_6)) solid;
}

.dropdownTab.open .dropdownElement:global(.active) {
  color: rgb(var(--col2_1));
  background-color: rgb(var(--col1_7));
  z-index: 0;
}

.dropdownTab.close .dropdownElement {
  display: none;
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  .flex {
    width: 80vw;
  }

  /* search */
  .searchBar {
    width: 80vw;
    margin: 10px 10px 10px 0;
  }

  .icon {
    margin: 10px 3px;
  }

  .dropdownBar {
    display: none;
  }
}
