/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/

.flex {
  display: flex;
  justify-content: stretch;
  margin: 10px 0 -11px 3vw;
  padding-left: 10px;
  transition: all 250ms ease-in-out;
  flex-wrap: wrap-reverse;
}

.box {
  padding: 10px 15px;
  margin-left: -1px;
  background-color: var(--col1_9);
  border: 0.5px var(--col1_6) solid;
  border-bottom: none;
  font-size: 16px;
  color: var(--col1_3);
  height: 40px;
}

.box:global(.active) {
  color: var(--col2_1);
  border-color: var(--col2_1);
  z-index: 0;
}

.box:nth-child(1) {
  border-top-left-radius: 5px;
}

.box:nth-last-child(1) {
  border-top-right-radius: 5px;
}

/* search */

.searchBar {
  margin: 10px;
  padding: 10px 15px;
  border: 0.5px var(--col1_6) solid;
  border-radius: 5px;
  width: 90vw;
  font-size: 16px;
  color: var(--col1_1);
  transition: all 250ms ease-in-out;
  position: relative;
  z-index: 3; /* for TabSelector */

}

.searchBar:focus {
  color: var(--col2_1);
  border: 0.5px var(--col2_1) solid;
}

.searchBar::placeholder {
  transition: all 250ms ease-in-out;

}

.searchBar:focus::placeholder {
  color: var(--col2_1);
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {

  .flex {
    width: 80vw;
    margin-left: 10vw;
  }

  /* search */
  .searchBar {
    width: 80vw;
    margin: 10px 10vw;
  }
}
