/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
.projects {
  min-height: calc(100vh - 65px - 250px - 30px);
}

/* listItem */
.listItemBox {
  margin-bottom: 150px;
}

.listItem {
  display: flex;
  border-top: 0.5px solid var(--col1_6);
  place-items: center;
  color: var(--col1_1);
  background-color: var(--col1_9);
  height: 85px;
  padding: 7px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: right;
}

.listItem:hover {
  background-color: var(--col1_8);
}

.listItem:active {
  background-color: var(--col1_7);
}

.listItemVertical {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.listItemSubtitle {
  color: var(--col1_4);
}

.listItem > * {
  max-width: calc(100% - 130px);
  margin: inherit 20px;
  font-weight: 500;
  font-size: 14px;
  overflow: hidden;
}

.listItemImg {
  border-radius: 7px;
  margin: 0;
  height: 100%;
  width: 95px;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px) {
  /* listItem */
  .listItemBox {
    margin: 0 10vw;
    margin-bottom: 150px;
  }

  .listItemVertical {
    margin-left: 1.6vw;
  }

  .listItem > * {
    font-size: 14px;
  }

  .listItemDate {
    margin: 0 10px 0 auto;
  }
}
