/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/

:root {
  /* col1 - Black/White (Natural) */
  --col1_1: #090909;
  --col1_2: #1c1c1c;
  --col1_3: #4f4f4f;
  --col1_4: #9d9d9d;
  --col1_5: #cccccc;
  --col1_6: #edecec;
  --col1_7: #ffffff;

  /* col2 - Blue (Theme) */
  --col2_1: #00102f;
  --col2_2: #00205f;
  --col2_3: #0055ff;
  --col2_4: #007aff;

  /* col3 - Red (Alerts) */
  --col3_1: #9E0A00;
  --col3_2: #EC554B;
  --col3_3: #FFA09A;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
