@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
/* /////////////////////////////////////////////////////////////////////////////
Variables
//////////////////////////////////////////////////////////////////////////////*/
:root {
  /* col1 - Black/White (Natural) */
  --col1_1: 0, 0, 0;
  --col1_2: 28, 28, 28;
  --col1_3: 65, 65, 65;
  --col1_4: 106, 106, 106;
  --col1_5: 163, 163, 163;
  --col1_6: 205, 205, 205;
  --col1_7: 235, 235, 235;
  --col1_8: 251, 251, 251;
  --col1_9: 255, 255, 255;

  /* col2 - Blue (Theme) */
  --col2_1: 0, 16, 47;
  --col2_2: 0, 32, 95;
  --col2_3: 0, 85, 255;
  --col2_4: 0, 122, 255;

  /* col3 - Red (Alerts) */
  --col3_1: 158, 10, 0;
  --col3_2: 236, 85, 75;
  --col3_3: 255, 160, 154;

  /* grad - Gradient */
  --grad_1: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

/* /////////////////////////////////////////////////////////////////////////////
Reset
//////////////////////////////////////////////////////////////////////////////*/
* {
  font-family: 'Montserrat', sans-serif;
}

*:not(input):focus-visible {
  outline: solid 3px rgba(0, 0, 0, 0.2) !important;
  z-index: 100;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, figure, figcaption, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

ul {
	list-style: none;
}

blockquote {
	quotes: none;
}
blockquote::before, blockquote::after {
	content: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img { border: none; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	font-style: none;
}

*:focus {
	outline: none;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox {
-webkit-appearance: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 65px 0 0 0;
}