/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
/* listItem */
.listItem {
  display: flex;
  border-top: 0.5px solid var(--col1_6);
  place-items: center;
  color: var(--col2_1);
  background-color: var(--col1_8);
  margin: 10px 0;
}

.listItem:link, .listItem:hover {
  background-color: var(--col1_7);
}

.listItem > * {
  margin: 10px 20px;
  font-weight: 500;
}

.listItemImg {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}
/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {

}