/* /////////////////////////////////////////////////////////////////////////////
MOBILE
//////////////////////////////////////////////////////////////////////////////*/
/* listItem */
.listItem {
  display: flex;
  border-top: 0.5px solid var(--col1_6);
  place-items: center;
  color: var(--col1_1);
  background-color: var(--col1_8);
  height: 65px;
}

.listItemVertical {
  display: flex;
  flex-direction: column;
}

.listItemSubtitle {
  color: var(--col1_4);
}

.listItem > * {
  max-width: calc(100% - 120px);
  margin: 0 20px;
  font-weight: 500;
  overflow: hidden;
}

.listItemImg {
  margin: 0;
  height: 100%;
}

/* /////////////////////////////////////////////////////////////////////////////
DESKTOP
//////////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 768px)  {
  .listItem:link, .listItem:hover {
    background-color: var(--col1_7);
  }
}